@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin  absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

// MEDIA QUERY MENAGER
// 1em = 16px

@mixin respond($breakpiont) {
    @if $breakpiont == phone {
        @media only screen and (max-width: 37.5em) { @content }; //600/16
    }
    @if $breakpiont == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; //900/16
    }
    @if $breakpiont == tab-land {
        @media only screen and (max-width: 75em) { @content }; //1200/16
    }
    @if $breakpiont == big-desktop {
        @media only screen and (mim-width: 112.5) { @content }; //1800/16
    }
}